---
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (async () => {
	return [
		{ params: { slug: "article1.md" } },
		{ params: { slug: "article2.md" } },
		{ params: { slug: "article3.md" } },
		{ params: { slug: "article4.md" } },
		{ params: { slug: "article5.md" } },
	];
}) satisfies GetStaticPaths;

import { getCollection, getEntry, render } from "astro:content";
import { marked } from "marked";

const { slug } = Astro.params;
const article = await getEntry("articles", `${slug}`);

const content = marked.parse(article?.data.content);
---
<Layout>
	<body class="bg-white font-sans text-gray-900">
		<Header />
	<div class="container mx-auto px-4 py-8 text-base/10">
		<!-- <img src={"data:image/png;base64,"+article?.data?.image} alt={article?.data.title} class="w-full h-96 object-cover rounded-lg" /> -->
		<article set:html={content} />
		
	</div>
	
</body>
</Layout>


